<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Osi_VSSIT_kurs.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Osi_VSSIT_kurs.App>
            <setting name="Port" serializeAs="String">
                <value>8888</value>
            </setting>
            <setting name="Address" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Check" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Step" serializeAs="String">
                <value>0.1</value>
            </setting>
        </Osi_VSSIT_kurs.App>
    </userSettings>
</configuration>